body {
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
}
}
h1 {
    color: red;
    background-color: antiquewhite;
    font-size: 100px;
}
p {
    color: bisque;
    background-color: black;
}
q {
    color: yellow;
}
ul {
    background-color: antiquewhite;

}